{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "__ENV__": "readonly",
    "__DEV__": "readonly",
    "__PROD__": "readonly",
    "__API_URI__": "readonly",
    "$": "readonly",
    "jQuery": "readonly",
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "func-names": ["warn", "never"]
  }
}
