{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": "warn",
    "max-len": ["error", 120, 2, { "ignoreUrls": true }],
    "no-plusplus": "off",
    "eol-last": "off",
    "no-unused-vars": "warn",
    "comma-dangle": ["warn", "always-multiline"]
  }
}
