.menu .title {
  padding: 0 6px 0 16px;

  font-weight: 700;

  background: url("plus.svg") left 1px no-repeat;
  background-size: 14px;
  cursor: pointer;
}

.menu .list {
  display: none;
  margin: 0;
}

.menu .list a {
  color: #00f;
}

.menu.open .list {
  display: block;
}

.menu.open .title {
  background-image: url("minus.svg");
}
