/* fonts */
@font-face {
  font-weight: 400;
  font-family: "robotoregular";
  font-style: normal;

  src: url("../../fonts/roboto-regular.woff2") format("woff2"), url("../../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "robotobold";
  font-style: normal;

  src: url("../../fonts/roboto-bold.woff2") format("woff2"), url("../../fonts/roboto-bold.woff") format("woff");
}

/* base styles */
.page {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;

  font-size: 16px;

  scroll-behavior: smooth;
}

.page__inner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;

  font-size: 1rem;
  line-height: 1.42;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  color: #333;
  word-break: break-word;

  background-color: #fff;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "robotoregular", Arial, sans-serif;
  color: #f00;

  transform: translateX(10px);
}
