body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  //font-family: 'Pacifico', cursive;
  font-family: Caveat;
}

h1 {
  cursor: pointer;
  user-select: none;
}

.kitty-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.kitty {
  max-width: initial;
  height: 100%;
  display: inline-block;
}

.icon {
  max-width: 100%;
  height: auto;
}
